<!--Header-->
<div class="container">
	<img class="img-responsive imgbg" src="../images/bg.jpg">

<!--/Header-->


<!-- AppContent -->
<div class="row ScoreHome">
  <div class="col-xs-3 score">
  	
  		<h3>Score - النقاط</h3>
  		<p>50</p>
  	
  </div>


  <div class="col-xs-5 user_info">
  		
  		<ul class="list-group">
  			 <li class="list-group-item">فهد الكثيري</li>
  			 <li class="list-group-item">عدد المشاركات : 10</li>
  			 <li class="list-group-item">الفريق المفضل : Flag</li>
  		</ul>
  		
  
  </div>


  <div class="col-xs-2 Userimg">
  
  		<img class="img-rounded img-responsive" src="https://m.ak.fbcdn.net/sphotos-g.ak/hphotos-ak-frc3/t1.0-9/1379893_10201386120307538_112283492_n.jpg">
  	
  </div>
</div>

<div class="row">
   <div class="col-md-12">
   	<div class="form"></div>
   </div>

</div>
<!-- /AppContent -->

<!-- Footer -->
<div class="row ">
	   	<div class="scoretitle"><img class="img-responsive" src="../images/scoretitle.png" /></div>

   <div class="col-md-12 formcontainer">
   	<form>
   	<table class="table formtable">
   		<tr>
   			<td><img  src="../images/teems/bar.png"/></td>
   			<td><input type="text" class="form-control homeinput"></td>
   			<td>VS</td>
   			<td><input type="text" class="form-control homeinput"></td>
   			<td><img  src="../images/teems/ger.png"/></td>
   			<td>30:00 KSA</td>
   		</tr>
   		<tr>
   			<td><img  src="../images/teems/bar.png"/></td>
   			<td><input type="text" class="form-control homeinput"></td>
   			<td>VS</td>
   			<td><input type="text" class="form-control homeinput"></td>
   			<td><img  src="../images/teems/ger.png"/></td>
   			<td>30:00 KSA</td>
   		</tr>
   	</table>
   		   	<div class="scoretitle"><img class="img-responsive" src="../images/save.png" /></div>

</form>
</div>
</div><!-- /container -->
<!--  /Footer-->